# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]

# DotEnv configuration
.env

# VS Code
.vscode/

# Jupyter NB Checkpoints
.ipynb_checkpoints/

# exclude data from source control by default
data/interim/
data/processed/
data/raw/

# include gitkeep to preserv the Project Organization
!data/interim/.gitkeep
!data/processed/.gitkeep
!data/raw/.gitkeep